---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import myImage from "../assets/images/my-pic-sm.png";
import myImage3 from "../assets/images/my-profile-pic_10-24.jpg";
import myImage2 from "../assets/images/My-profile-pic_new_v5.png";
import DownloadButton from "../components/DownloadButton.astro";
---

<!-- @ts-ignore -->
<Layout title="Matthew O’Leary Resume">
  <main>
    <div class="md:flex mx-auto sm:mb-2">
      <div>
        <Image
          class="rounded-full w-36 mb-4"
          src={myImage3}
          alt="picture of my face with my painting in the background"
        />
      </div>
      <div class="md:ml-8">
        <h1>Matthew O’Leary</h1>
        <p class="font-sans font-bold mb-2">
          Graphic & Web Designer | Creative Consultant
        </p>

        <p class="mb-4">
          Seaside, California <br />
          <a class="font-normal text-slate-800" href="tel:831-275-2566"
            >831-275-2566</a
          ><br />
          <a
            class="font-normal text-slate-800"
            href="mailto:matt@mattosurf@icloud.com">mattosurf@icloud.com</a
          ><br />
          <a href="https://www.linkedin.com/in/matt-oleary">LinkedIn</a> | <a
            href="https://mattoleary.design">Portfolio</a
          >
        </p>
      </div>
    </div>

    <h3>Professional Summary</h3>

    <p class="mb-4 mt-1">
      Experienced graphic and web designer with a strong background in branding,
      UI design, web development, and digital experiences. Passionate about
      crafting intuitive, visually compelling designs for web and product
      interfaces. Adept at balancing creativity with functionality to enhance UX
      and user engagement. Skilled in design systems, front-end visuals, and
      cross-platform consistency. Versatile and collaborative, with experience
      in agency settings, web development, and independent consulting.
    </p>

    <div class="mb-4">
      <h3>Skills</h3>
      <ul class="list-disc list-outside ml-4 mt-1">
        <li>Web Design & Development (Astro.js, Tailwind CSS, WordPress)</li>
        <li>UI/UX Design & Prototyping</li>
        <li>Identity, Branding, and Design Systems</li>
        <li>Graphic Design (Print & Digital)</li>
        <li>Front-End Development & Responsive Design</li>
        <li>Creative & Production Design (Print, Packaging, Signage)</li>
        <li>Product Photography & Photo Retouching</li>
        <li>Adobe Creative Suite (Photoshop, Illustrator, InDesign)</li>
        <li>Figma & Digital Prototyping</li>
        <li>
          AI-Powered Content Creation & Workflow Automation for Speed and
          Efficiency
        </li>
        <li>Project Collaboration & Communication</li>
      </ul>
    </div>

    <h3>Work Experience</h3>

    <p class="mt-1">
      <strong>Creative Consultant</strong><br />
      Foclarity AI, Santa Cruz, CA<br />
      <span class="italic">June 2023 – November 2024</span>
    </p>
    <ul class="list-disc list-outside ml-4">
      <li>
        Shaped the brand’s visual identity, ensuring cohesive design across all
        platforms.
      </li>
      <li>
        Designed key assets for web, presentations, and product interfaces.
      </li>
      <li>
        Provided strategic guidance on design and user experience, aligning with
        product development.
      </li>
    </ul>

    <p class="mt-4">
      <strong>Production Support Specialist</strong><br />
      OBXtek (Defense Language Institute), Monterey, CA<br />
      <span class="italic">December 2024 – Present</span>
    </p>
    <ul class="list-disc list-outside ml-4">
      <li>
        Key team member focused on education technology and curriculum
        development for learning foreign languages.
      </li>
      <li>
        Edit and refine curriculum and instructional materials for clarity and
        effectiveness.
      </li>
      <li>
        Course development and support for Canvas as well as a custom LMS
        (Learning Management System).
      </li>
    </ul>

    <p class="mt-4">
      <strong>Graphic & Web Designer</strong><br />
      Matt O'Leary Design, Seaside, CA<br />
      <span class="italic">January 2016 – Present</span>
    </p>
    <ul class="list-disc list-outside ml-4">
      <li>
        Design and develop websites for individuals and businesses, ensuring
        responsive and user-friendly experiences.
      </li>
      <li>
        Create branding, UI design, and interaction design for web and print.
      </li>
      <li>
        Produce marketing assets, including advertising, packaging, and signage.
      </li>
      <li>
        Provide UX consulting, refining workflows and improving accessibility.
      </li>
    </ul>

    <p class="mt-4">
      <strong>Product Designer</strong><br />
      Kiteworks, Palo Alto, CA<br />
      <span class="italic">August 2014 – February 2018</span>
    </p>
    <ul class="list-disc list-outside ml-4">
      <li>
        Led product design for Kiteworks secure file transfer, an enterprise
        SaaS product.
      </li>
      <li>
        Conducted usability research and testing to drive data-backed UI
        improvements.
      </li>
      <li>
        Overhauled the application’s UI and workflows, increasing usability and
        adoption.
      </li>
    </ul>

    <p class="mt-4">
      <strong>Design Lead</strong><br />
      FastPencil, Campbell, CA<br />
      <span class="italic">November 2011 – May 2014</span>
    </p>
    <ul class="list-disc list-outside ml-4">
      <li>
        Designed and refined FastPencil 2.0, a cloud-based publishing platform.
      </li>
      <li>Developed book covers, templates, and author marketing websites.</li>
      <li>
        Enhanced platform UI and streamlined the self-publishing workflow.
      </li>
    </ul>

    <p class="mt-4">
      <strong>Design Manager</strong><br />
      McDill Associates, Soquel, CA<br />
      <span class="italic">September 2008 – November 2011</span>
    </p>
    <ul class="list-disc list-outside ml-4">
      <li>
        Led the design and production of advertising (print/web), packaging, and
        event branding.
      </li>
      <li>
        Ensured compliance with U.S. and Canada regulations for food packaging
        labels.
      </li>
    </ul>

    <h3 class="mt-4">Education</h3>
    <ul class="list-disc list-outside ml-4 mt-1">
      <li>
        UCSC, Cabrillo College, San Jose State University, UCSC Extension<br />
        <span class="italic"
          >Various studies with a focus on Fine Arts, Graphic Design, and
          Production</span
        >
      </li>
      <li>
        Santa Cruz High School, Santa Cruz<br />
        <span class="italic"
          >High School Diploma, focus on College Preparation</span
        >
      </li>
    </ul>
  </main>
  <DownloadButton />
</Layout>
