---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import myImage from "../assets/images/my-pic-sm.png";
import myImage3 from "../assets/images/my-profile-pic_10-24.jpg";
import myImage2 from "../assets/images/My-profile-pic_new_v5.png";
import DownloadButton from "../components/DownloadButton.astro";
---

<!-- @ts-ignore -->
<Layout title="Matthew O’Leary Resume">
  <main>
    <div class="md:flex mx-auto sm:mb-2">
      <div>
        <Image
          class="rounded-full w-36 mb-4"
          src={myImage3}
          alt="picture of my face with my painting in the background"
        />
      </div>
      <div class="md:ml-8">
        <h1>Matthew O’Leary</h1>
        <p class="font-sans font-bold mb-2">
          Creative Digital Marketing Specialist
        </p>

        <p class="mb-4">
          Seaside, California <br />
          <a class="font-normal text-slate-800" href="tel:831-275-2566"
            >831-275-2566</a
          ><br />
          <a
            class="font-normal text-slate-800"
            href="mailto:matt@mattoleary.design">matt@mattoleary.design</a
          ><br />
          <a href="https://www.linkedin.com/in/matt-oleary">LinkedIn</a> | <a
            href="https://mattoleary.design">Portfolio</a
          >
        </p>
      </div>
    </div>

    <h3>Professional Summary</h3>

    <p class="mb-4 mt-1">
      Experienced Digital Marketer and Designer with a proven track record of
      delivering marketing and design solutions that drive business growth.
      Skilled in digital strategy, social media marketing, branding, and
      print/web design. I leverage industry-leading tools to create innovative,
      visually compelling, and results-driven solutions.
    </p>

    <div class="mb-4">
      <h3>Skills</h3>
      <ul class="list-disc list-outside ml-4 mt-1">
        <li>Digital Marketing (Social Media, SEO, Content Creation, Analytics, Automation)</li>
        <li>Web Design, Development, and Content Management (Astrojs, Tailwind CSS, Wordpress)</li>
        <li>User Experience and User Interface (UX/UI) Design</li>
        <li>Identity, Branding, and Design Systems</li>
        <li>Graphic Design (Print and Web)</li>
        <li>Prototyping, Rapid Iteration, and Testing</li>
        <li>Product Photography and Asset Management</li>
        <li>Effective Communication, Collaboration, and Problem-Solving</li>
      </ul>
    </div>

    <h3>Work Experience</h3>

    <p class="mt-1">
      <strong>Creative Director</strong><br />
      Foclarity AI, Santa Cruz, CA<br />
      <span class="italic">June 2023 – Present</span>
    </p>
    <ul class="list-disc list-outside ml-4">
      <li>
        Develop and execute a comprehensive marketing strategy, driving customer
        acquisition and business growth.
      </li>
      <li>
        Establish and strengthen the brand identity, ensuring clear and
        consistent messaging across all channels.
      </li>
      <li>
        Lead successful customer acquisition campaigns, optimizing for
        conversions and scaling efforts as the startup grows.
      </li>
      <li>
        Collaborate closely with the founder/CEO to align marketing with product
        development, enhancing user experience and customer satisfaction.
      </li>
      <li>
        Build strategic partnerships and relationships, increasing visibility
        and credibility in the market.
      </li>
      <!-- <li>Design and develop websites for individuals and businesses</li>
      <li>Print Design - Packaging, Advertising and Signage</li>
      <li>HTML, CSS, Astro.js, Wordpress, Shopify</li>
      <li>Social Media Marketing</li>
      <li>
        Clients include: Big Surf Adventures, Khakis of Carmel, Santa Cruz Whale
        Watching
      </li> -->
    </ul>

    <p class="mt-4">
      <strong>Senior Product Designer</strong><br />
      Wiser Solutions, San Mateo, CA (Remote)<br />
      <span class="italic">April 2022 – March 2023</span>
    </p>
    <ul class="list-disc list-outside ml-4">
      <li>
        Developed digital products for pricing and brand protection, enhancing
        product engagement and reducing churn.
      </li>
      <li>
        Created Figma prototypes to run usability sessions with customers and
        collaborate with Developers and Product Managers.
      </li>
      <li>
        Refined and applied Design System for brand consistency across newly
        acquired products.
      </li>
      <li>
        Collaborated with Marketing to successfully launch new products and
        onboard customers.
      </li>
      <li>
        Crafted marketing and transactional emails using Mailchimp and SendGrid.
      </li>
    </ul>
    <p class="mt-4">
      <strong>Senior Product Designer</strong><br />
      Axway, Phoenix, AZ (Remote)<br />
      <span class="italic">March 2018 – April 2022</span>
    </p>
    <ul class="list-disc list-outside ml-4">
      <li>
        Transformed complex product requirements into user-friendly workflows.
      </li>
      <li>
        Conducted onsite and remote usability testing programs with customers.
      </li>
      <li>
        Established and maintained compliance with Web Content Accessibility
        Guidelines (WCAG) 2.0.
      </li>
      <li>
        Designed SaaS applications for web, and native platforms (Android and
        iOS).
      </li>
      <li>Managed and mentored small design team (3 other designers).</li>
    </ul>

    <p class="mt-4">
      <strong>Product Designer</strong><br />
      Kiteworks, Palo Alto, CA<br />
      <span class="italic">August 2014 – February 2018</span>
    </p>
    <ul class="list-disc list-outside ml-4">
      <li>
        Redesigned the entire web UI of secure mail application, increasing
        adoption and renewals.
      </li>
      <li>
        Crafted strategic product design solutions, informed by user research
        and usability testing.
      </li>
      <li>
        Wrote concise content for UI (notifications, instructions, and button
        labels).
      </li>
    </ul>

    <p class="mt-4">
      <strong>Design Lead</strong><br />
      FastPencil, Campbell, CA<br />
      <span class="italic">November 2011 – May 2014</span>
    </p>
    <ul class="list-disc list-outside ml-4">
      <li>
        Redesigned the entire FastPencil cloud-based publishing platform,
        emphasizing overall experience and interface.
      </li>
      <li>
        Designed and developed book covers, templates, and marketing websites
        for authors.
      </li>
      <li>
        Digital Marketing and Design for growth of core SaaS products, as well
        as for individual authors.
      </li>
    </ul>

    <p class="mt-4">
      <strong>Design Manager</strong><br />
      McDill Associates, Soquel, CA<br />
      <span class="italic">September 2008 – November 2011</span>
    </p>
    <ul class="list-disc list-outside ml-4 mb-4">
      <li>
        Managed design and production of advertising (web and print), branded
        events, and consumer packaged goods.
      </li>
      <li>
        Ensured compliance with U.S. and Canada regulations for food package
        labels.
      </li>
      <li>
        Designed packaging, advertising, catalogs, signage, event branding and
        marketing communications.
      </li>
    </ul>

    <!-- <p class="mt-6">
      <strong>Prepress Manager at West Marine</strong><br />
      Watsonville, CA<br />
      <span class="italic">October 2001 – September 2008</span>
    </p>
    <ul class="list-disc list-outside ml-4 mb-4">
      <li>
        Established an internal prepress department, saving approximately $1
        million over two years.
      </li>
      <li>Supervised image coordinator and prepress assistants.</li>
      <li>
        Designed logos, gift cards, coupon books, promotional signage, and other
        special projects.
      </li>
      <li>
        Created an in-house, large-format printing and signage service for
        corporate and store events.
      </li>
    </ul> -->

    <h3>Education</h3>
    <ul class="list-disc list-outside ml-4 mt-1">
      <li>
        Santa Cruz High School, Santa Cruz<br /><span class="italic"
          >High School Diploma</span
        >
      </li>
      <li>
        UCSC, Cabrillo College, San Jose State University, UCSC Extension<br
        /><span class="italic"
          >Various studies with a focus on Fine Arts and Graphic Design and
          Production</span
        >
      </li>
    </ul>
  </main>
  <DownloadButton />
</Layout>
