---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import myImage from "../assets/images/my-pic-sm.png";
import DownloadButton from "../components/DownloadButton.astro";
---

<!-- @ts-ignore -->
<Layout title="Matthew O’Leary Resume">
  <main>
    <div class="md:flex mx-auto sm:mb-2">
      <div>
        <Image
          class="rounded-full w-36 mb-4"
          src={myImage}
          alt="picture of my face with my painting in the background"
        />
      </div>
      <div class="md:ml-8">
        <h1 class="">Matthew O’Leary</h1>
        <p class="fonts-sans font-bold mb-2">Graphic and Product Designer</p>

        <p class="mb-6">
          Seaside, CA <br />
          <a class="font-normal text-slate-800" href="tel:831-275-2566"
            >831-275-2566</a
          ><br />
          <a
            class="font-normal text-slate-800"
            href="mailto:mattosurf@gmail.com">mattosurf@gmail.com</a
          ><br />

          <a href="https://www.linkedin.com/in/matt-oleary">LinkedIn</a> | <a
            href="https://mattoleary.design">Portfolio</a
          >
        </p>
      </div>
    </div>

    <h3>Professional Summary</h3>

    <p class="mb-8">
      Experienced Graphic and Product Designer with a proven track record in
      developing design solutions that drive business growth. Advanced design
      skills for print and web, social media marketing, and branding. I leverage
      the best-in-class design and development tools (including AI when
      appropriate) to ensure innovative, beautiful, and effective solutions.
    </p>

    <div class="mb-8">
      <h3>Skills</h3>
      <ul class="list-disc list-outside ml-4">
        <li>User Experience (UX) and User Interface (UI) Design</li>
        <li>Graphic Design</li>
        <li>Web Design and Development</li>
        <li>Production Design (packaging, signage, event graphics)</li>
        <li>Identity and Branding</li>
        <li>Prototyping and Rapid Iteration</li>
        <li>Design System Creation and Contribution/Maintenance</li>
        <li>Fashion & Product Photography/Photo Editing/Asset Management</li>
        <li>
          Soft Skills (effective communication, collaboration, and
          problem-solving)
        </li>
        <li>Social Media Marketing and Communications/Content Creation</li>
      </ul>
    </div>

    <h3>Work Experience</h3>

    <p class="mt-2">
      <strong>Freelance Website & Graphic Design</strong> Seaside, CA
    </p>
    <p class="italic mb-1">2008 – Present</p>
  </main>

  <ul class="list-disc list-outside ml-4">
    <li>Design and develop websites for individuals and businesses</li>
    <li>Print Design - Packaging, Advertising & Signage</li>
    <li>HTML, CSS, Astro.js</li>
    <li>Social Media Marketing</li>
    <li>
      Clients include: Big Surf Adventures, Khakis of Carmel, Santa Cruz Whale
      Watching
    </li>
  </ul>

  <p class="mt-6">
    <strong>Senior Product Designer at Wiser Solutions</strong> San Mateo, CA (Remote)
    <p class="italic mb-1">April 2022 – March 2023</p>

    <ul class="list-disc list-outside ml-4 print:mb-48">
      <li>
        Developed digital products for pricing and brand protection, enhancing
        overall product performance.
      </li>
      <li>
        Created Figma prototypes and ran iterative usability sessions with them.
      </li>
      <li>Refined design systems for brand consistency and scalability.</li>
      <li>
        Collaborated with Marketing to promote new products and educate
        customers.
      </li>
      <li>
        Crafted marketing and transactional emails using Mailchimp and SendGrid.
      </li>
    </ul>

    <p class="hidden print:block">
      <br />
    </p>

    <p class="mt-6 print:mt-4">
      <strong>Senior Product Designer at Axway</strong> Phoenix, AZ (Remote)
      <p class="italic mb-1">March 2018 – April 2022</p>
    </p>

    <ul class="list-disc list-outside ml-4">
      <li>
        Transformed product requirements into user flows, utilizing
        white-boarding and sketching.
      </li>
      <li>
        Conducted onsite and remote usability testing programs with customers.
      </li>
      <li>
        Established and maintained compliance with Web Content Accessibility
        Guidelines (WCAG) 2.0.
      </li>
      <li>
        Designed for web, mobile-web, and native platforms (Android and iOS).
      </li>
      <li>
        Authored content for UI, ensuring clarity in notifications,
        instructions, and button labels.
      </li>
    </ul>

    <p class="mt-6">
      <strong>Product Designer at Kiteworks</strong> Palo Alto, CA
      <p class="italic mb-1">August 2014 – February 2018</p>

      <ul class="list-disc list-outside ml-4">
        <li>
          Redesigned the entire web UI, resulting in higher engagement and
          reduced churn.
        </li>
        <li>
          Crafted strategic product design solutions, informed by user research
          and usability testing.
        </li>
        <li>
          Wrote concise content for UI (notifications, instructions, and button
          labels)
        </li>
      </ul>

      <p class="mt-6">
        <strong>Designer at FastPencil</strong> Campbell, CA

        <p class="italic mt-1">November 2011 – May 2014</p>

        <ul class="list-disc list-outside ml-4">
          <li>
            Redesigned the entire FastPencil cloud-based publishing platform,
            emphasizing overall experience and interface.
          </li>
          <li>
            Designed and developed book covers, templates, and marketing
            websites for authors.
          </li>
          <li>
            Digital Marketing for growth of core SaaS products, as well as for
            individual authors.
          </li>
        </ul>

        <p class="mt-6">
          <strong>Design Manager at McDill Associates</strong> Soquel, CA
          <p class="italic mb-1">September 2008 – November 2011</p>
        </p>

        <ul class="list-disc list-outside ml-4">
          <li>Managed design and development of consumer packaged goods.</li>
          <li>
            Ensured compliance with U.S. and Canada regulations for food package
            labels.
          </li>
          <li>
            Designed packaging, advertising, catalogs, signage, and marketing
            communications.
          </li>
        </ul>

        <p class="mt-6">
          <strong>Prepress Manager at West Marine</strong> Watsonville, CA
          <p class="italic mb-1">October 2001 – September 2008</p>

          <ul class="list-disc list-outside ml-4 mb-8">
            <li>
              Established an internal prepress department, saving approximately
              $1 million over two years.
            </li>
            <li>Supervised image coordinator and prepress assistants.</li>
            <li>
              Designed logos, gift cards, coupon books, promotional signage, and
              other special projects.
            </li>
            <li>
              Created an in-house, large-format printing and signage service for
              corporate and store events.
            </li>
          </ul>

          <h3>Education</h3>

          <ul class="list-disc list-outside ml-4 mt-2">
            <li>
              Santa Cruz High School, Santa Cruz
              <p class="italic">High School Diploma</p>
            </li>
            <li>
              UCSC, Cabrillo College, San Jose State University, UCSC Extension<br
              />
              <p class="italic">
                Various studies with a focus on Fine Arts and Graphic Design and
                Production
              </p>
            </li>
          </ul>
        </p>
      </p>
    </p>
  </p>
  <DownloadButton />
</Layout>
