<a href="../../public/MatthewOLeary-Resume2.pdf" download class="print:hidden">
  <button
    class="bg-[var(--primary-color)] hover:bg-teal-800 text-white mt-16 font-medium py-2 px-4 rounded-full"
  >
    Download PDF
  </button>
</a>
